/* line 3, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
body {
  background: url("../img/background2.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-user-select: none;
  -webkit-user-select--moz-user-select: none;
  -webkit-user-select--moz-user-select--ms-user-select: none;
  -webkit-user-select--moz-user-select--ms-user-select-user-select: none;
}

/* line 9, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
#logo {
  height: 150px;
  padding: 0;
}

/* line 13, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
#ring {
  padding: 25px;
}

/* line 16, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
span {
  font-family: 'Cookie', cursive !important;
}

/* line 19, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.scroll-container {
  background: url("../img/scroll.png") no-repeat;
  background-size: cover;
  text-align: left;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 800px;
}

/* line 28, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.buttons {
  padding: 19px 120px 0 130px;
  font-family: 'Cookie', cursive;
  font-size: 2.5em;
}

/* line 33, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.buttons #new-quote {
  float: left;
  color: #000;
  font-weight: 800;
}

/* line 38, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.buttons #new-quote:hover {
  cursor: pointer;
  color: #c34c00;
  text-decoration: none;
  text-shadow: 10px 2px 15px #ec760c;
}

/* line 44, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.buttons #twitter {
  float: right;
  color: #000;
  font-weight: 800;
}

/* line 49, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.buttons #twitter:hover {
  cursor: pointer;
  color: #278500;
  text-decoration: none;
  text-shadow: 10px 2px 15px #39c300;
}

/* line 55, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.quote-tab {
  height: 450px;
}

/* line 58, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.quote-area {
  text-align: left;
  width: 620px;
  margin: 170px auto 0 150px;
  padding: 20px;
  height: auto;
}

/* line 65, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.author-area {
  width: 580px;
  margin: 0 150px;
  text-align: right;
}

/* line 70, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.quote {
  font-size: 3em;
}

/* line 73, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
.author {
  display: block;
  font-size: 3em;
  font-style: italic;
  padding-top: 15px;
}

/* line 79, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
p {
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 2.5em;
  padding-top: 28px;
  color: #000;
}

/* line 86, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
p #ring {
  width: 45px;
  padding: 0 5px;
}

/* line 90, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
p a {
  color: #000;
}

/* line 93, F:/GitHub/Apps/lotr-quotes/sass/main.sass */
p a:hover {
  color: #c34c00;
  text-decoration: none;
  text-shadow: 16px 7px 15px #ec760c;
}

/*# sourceMappingURL=../css/main.map */