@import "mixins"

body
   background: url('../img/background2.jpg') no-repeat
   background-size: cover
   text-align: center
   +no-selection

#logo
   height: 150px
   padding: 0

#ring
   padding: 25px

span
   font-family: 'Cookie', cursive !important

.scroll-container
   background: url('../img/scroll.png') no-repeat
   background-size: cover
   text-align: left
   width: 1000px
   margin: 0 auto
   padding: 20px
   height: 800px

.buttons
   padding: 19px 120px 0 130px
   font-family: 'Cookie', cursive
   font-size: 2.5em

   #new-quote
      float: left
      color: #000
      font-weight: 800

      &:hover
         cursor: pointer
         color: #c34c00
         text-decoration: none
         text-shadow: 10px 2px 15px rgba(236, 118, 12, 1)

   #twitter
      float: right
      color: #000
      font-weight: 800

      &:hover
         cursor: pointer
         color: #278500
         text-decoration: none
         text-shadow: 10px 2px 15px rgba(57, 195, 0, 1)

.quote-tab
   height: 450px

.quote-area
   text-align: left
   width: 620px
   margin: 170px auto 0 150px
   padding: 20px
   height: auto

.author-area
   width: 580px
   margin: 0 150px
   text-align: right

.quote
   font-size: 3em

.author
   display: block
   font-size: 3em
   font-style: italic
   padding-top: 15px

p
   text-align: center
   font-family: 'Cookie', cursive
   font-size: 2.5em
   padding-top: 28px
   color: #000

   #ring
      width: 45px
      padding: 0 5px

   a
      color: #000

      &:hover
         color: #c34c00
         text-decoration: none
         text-shadow: 16px 7px 15px rgba(236, 118, 12, 1)
